<div class="landing">
    <div class="cover-container">
        <div class="cover-text">
            <h1>{{titleMessage}}</h1>
            <p>Hello, This is Abhijeet Mishra, a completely language-agnostic full stack developer. This is my first foray into putting my work into the public domain, so let's see how it goes. This is hardly a finished product, but its MVP.</p>

            <p>
                <a href="https://github.com/disisavi" target="_blank">This is where my code lives</a>, and <a href="https://www.linkedin.com/in/thisisavi/" target="_blank">this is where my resume does</a>. </p>
        </div>
        <div class="cover">
        </div>
    </div>
</div>